#register {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.image-container {
    background: url('./laptop.svg') no-repeat;
    background-size: cover;
    width: 52%;
}

.form-container {
    background: #f1f1f1a1;
    width: 48%;
    padding: 94px 0 60px 60px;
}

.form-header {
    margin-bottom: 1.5rem;
}

.form-header h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    color: #000;
}

.form-header p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    color: #000;
}


.input-frame label {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    display: block;
    color: #1F1F1F;
    margin: 1.1rem 0 0.6rem;
}

input {
    width: 500px;
    padding: 20px 24px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    outline: none;
}

::placeholder {
    color: #B3B3B3;
}

input[type="file"] {
    width: 120px;
}

.file-upload {
    background: #fff;
    width: 120px;
    text-align: center;
    padding: 12px 24px;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.form-container button {
    width: 150px;   
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background: #335CA6;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

.form-container button:hover {
    background: #335ba6a8;
}


#specification p {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 500px;
    padding: 20px 24px;
    border-radius: 8px;
    background: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}

#specification ul {
    margin-top: 0.5rem;
    width: 150px;
    padding: 10px 0;
    border-radius: 8px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
}

#specification li {
    list-style: none; 
    padding: 0.3rem 24px;
    font-size: 1rem;
    cursor: pointer;
}

#specification li:hover {
    background-color: #335ba6c7;
    color: #fff;
}