:root {
  --white: #fff;
  --light-grey: #f1f1f1a1;
  --grey: hsl(0, 0%, 70%);
  --blue: #335CA6; 
  --greyish-blue: #335ba6c7;
  --black: #1F1F1F;
  --red: red;
  --green: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}
